@font-face {
  font-family: "ChronicleDisp-Roman";
  src: url("./fonts/ChronicleDisp-Roman.otf");
}

@font-face {
  font-family: "ChronicleDisp-SemiboldItal";
  src: url("./fonts/ChronicleDisp-SemiboldItal.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

:root {
  --font-primary-01: "ChronicleDisp-Roman";
  --font-primary-02: "ChronicleDisp-SemiboldItal";
  --font-secondary-01: "Roboto-Regular";
  --font-secondary-02: "Roboto-Light";
  /* --font-tertiary: "SFUBaskervilleBookItalic"; */
  --color-01: #5a0000;
}
/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}
body {
  padding: 0;
  margin: 0;
}

/* Global - Common */
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.cl-white {
  color: #ffffff;
}

.cl-01 {
  color: var(--color-01);
}

.w-100 {
  width: 100%;
}

.font-style-01 {
  font-family: var(--font-secondary-02);
  font-size: 24px;
  line-height: 1.5;
}

.font-style-02 {
  font-family: var(--font-primary-01);
  font-size: 82px;
  line-height: 1.18;
  font-weight: 400;
}

.font-style-02-1 {
  font-family: var(--font-primary-01);
  font-size: 61px;
  line-height: 1.18;
  font-weight: 400;
}

.font-style-italic {
  font-style: italic;
}

.font-style-quote {
  font-family: var(--font-secondary-02);
  font-size: 32px;
  line-height: 1.4;
}

.lf-container {
  max-width: 1015px;
  margin: 0 auto;
  padding: 0 12px;
}

.bg-op {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.img-op {
  object-fit: cover;
  object-position: center;
}

.cb-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

.mh-100 {
  height: 100%;
}

.mw-100 {
  width: 100%;
}

.pss-relative {
  position: relative;
}

.mr-full {
  margin-right: calc(50% - 50vw);
}

.ml-full {
  margin-left: calc(50% - 50vw);
}

body {
  background-color: var(--color-01);
  color: #ffffff;
  padding-bottom: 50px;
}

/* Start style */
.lf-top {
  position: relative;
}

.lf-top__header {
  text-align: center;
  margin-top: -184px;
}

.lf-top__img {
  position: relative;
  z-index: -1;
}

.lf-top__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to top, #5a0000 40%, transparent);
}

.lf-top__title,
.lf-top__subtitle {
  font-family: var(--font-primary-01);
  font-weight: 400;
  font-style: italic;
}

.lf-top__title {
  font-size: 155px;
}

.lf-top__subtitle {
  font-size: 75px;
}

.lf-top__content {
  text-align-last: center;
}

.lf-top__header {
  padding-bottom: 45px;
}

.horizontal-break {
  padding: 50px 0;
}

.horizontal-break__inner {
  width: 57%;
  margin: 0 auto;
}

.lf-section__img-row {
  display: flex;
  flex-wrap: wrap;
}

.lf-section__img-col--left {
  flex: 1;
  /* margin-left: calc(50% - 50vw); */
}

.lf-section__img {
  padding: 50px 0;
}

.lf-section__img-main {
  padding-left: 50px;
}

.lf-section__img-col--right {
  width: 65.25%;
}

.lf-section__img-desc {
  padding: 70px;
}

.lf-section__img-container {
  max-width: 1535px;
  margin: 0 auto;
}

.lf-section__img-desc--1 {
  max-width: 850px;
}

.lf-section__img-row--2 {
  flex-direction: row-reverse;
}
/* --------- Responsive ---------- */
@media (min-width: 1015px) {

}